doctype html
html
  head
    title Prince Hello World
    block scripts
    block style
  body
    nav#navbar
        ul
            li #[a(href = '/') Hello]
            li #[a(href = '/hey') Hey]
            li #[a(href = '/hi') Hi]
            li #[a(href = 'http://google.com') Go to Google]
            li #[a(href = '/contact') Contact Me]
    block content
    footer#footer
        | copyright © 2022 HellowWorld.com | All rights reserved