extends base.pug

block scripts
  script(src='/static/index.js')
block style 
    style
      include ../static/style.css
block content 
    .container 
       
        #link 
            h1  #[a(href = 'http://linkedIn.com') Contact]
        
