 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<%- include ('partials/nav') %>
<h1>This is  profile of <%= person %></h1>
<p><strong>Age:</strong><%= data.age %></p>
<p><strong>Job:</strong><%= data.job %></p>

</body>
</html> 